:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  text-align: center;

  & tui-svg::ng-deep {
    color: var(--tui-positive);
    font-size: 2rem;
  }
}
