:host > div {
  display: flex;

  &:nth-of-type(1) {
    align-items: center;
    gap: 0.5rem;
  }

  & > img {
    height: auto;
    width: 600px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
