::ng-deep {
  .title {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .tooltip {
    position: fixed;
    z-index: 10;
    visibility: hidden;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    background: #000;
    font-size: 1.2rem;
  }
}
