:host::ng-deep {
  & .title {
    font-size: 20pt;
    font-weight: 300;
  }

  & .tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    padding: 0.5em;
    color: white;
    border-radius: 5px;
    background: #000;
  }
}
