<h5 class="tui-text_h5">Ingredients history</h5>

<tui-accordion>
  <tui-accordion-item>
    Sugar

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[0]"
        rawComponentKey="BeeSug100"
        name="Sugar"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    Butter

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[1]"
        rawComponentKey="Butter100"
        name="Butter"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    Cocoa beans

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[1]"
        rawComponentKey="CocBea100"
        name="Cocoa beans"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    Cocoa oil

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[0]"
        rawComponentKey="BeeSug100"
        name="Cocoa oil"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    Wheat

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[1]"
        rawComponentKey="Butter100"
        name="Wheat"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item>
    Palm oil

    <ng-template tuiAccordionItemContent>
      <app-product-details-ingredient-history-chart
        [sumStat]="sumStats[2]"
        rawComponentKey="CocBea100"
        name="Palm oil"
      ></app-product-details-ingredient-history-chart>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
