<ng-container *ngIf="{ isBusinessView: isBusinessView$ | async } as data">
  <header tuiElasticSticky class="tui-space_bottom-3">
    <div>
      <a [routerLink]="['/']"><img src="assets/logo_transparent.png" /></a>

      <a tuiLink class="tui-text_h6 tui-space_horizontal-4">About us</a>

      <a tuiLink class="tui-text_h6">What is the CarbonScore?</a>
    </div>

    <tui-toggle [ngModel]="data.isBusinessView" (ngModelChange)="onToggle()"></tui-toggle>
  </header>

  <ng-content></ng-content>
</ng-container>
